* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

main {
    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
}